@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}


body{
  position: "center";
  font-family:'Poppins';
 
  background:#f1f5f9;

  color: darkblue;
}


/* MAIN CONTAINER */

.container{

  width:100%;

  max-width:1400px;

  margin:auto;

  padding:40px;
}

h4{color:darkblue;}


/* TITLES */

h1{

  text-align:center;
  font-family: Georgia, 'Times New Roman', Times, serif;


  

  font-size:48px;
  margin-top:20px;

  margin-bottom:40px;

  font-weight:600;

  color: darkblue;
}

h2{

  margin-bottom:25px;

  font-size:28px;

  color:#1e293b;

  text-align:center;
}


/* CARD */
td {
  color: #0f172a; 
}

.card{

  width:70%;

  margin:auto;

  background:white;

  padding:40px;

  margin-bottom:40px;

  border-radius:20px;

  box-shadow:
  0 10px 30px rgba(0,0,0,0.08);
}


/* FORM */

.form-group{

  display:flex;

  flex-direction:column;

  gap:20px;
}


/* INPUTS */

input{

  width:100%;

  padding:18px;

  font-size:16px;

  border-radius:12px;

  border:1px solid #dbeafe;

  outline:none;

  transition:0.3s;

  background:#f8fafc;
}

input:focus{

  border:1px solid #2563eb;

  background:white;

  box-shadow:
  0 0 0 4px rgba(37,99,235,0.15);
}


/* BUTTON */

button{

  width:100%;

  padding:18px;

  margin-top:10px;

  background:#2563eb;

  color:white;

  border:none;

  border-radius:12px;

  font-size:18px;

  font-weight:500;

  cursor:pointer;

  transition:0.3s;
}

button:hover{

  background:#1d4ed8;

  transform:translateY(-2px);
}


/* TABLE */

table{

  width:100%;

  border-collapse:collapse;

  margin-top:20px;

  overflow:hidden;

  border-radius:15px;
}

table thead{

  background:hsl(221, 83%, 53%);

  color:white;
}

table th{

  padding:20px;

  font-size:17px;
}

table td{

  padding:18px;

  text-align:center;

  border-bottom:1px solid #2b5c9c;

  font-size:16px;
}

table tr:hover{

  background:#f8fafc;
}
table tbodytd {
  color: rgb(60, 60, 231); 
}


.alert-container{

  width:70%;

  margin:auto;

  display:flex;

  flex-direction:column;

  gap:20px;
}

.alert{

  background:#fff7ed;

  padding:20px;

  border-left:6px solid #f59e0b;

  border-radius:12px;

  font-size:17px;

  font-weight:500;

  box-shadow:
  0 4px 12px rgba(0,0,0,0.06);
}


/* ANALYTICS */

.analytics-box{

  width:20%;

  margin:auto;

  display:flex;

  justify-content:center;

  align-items:center;

  background:white;

  padding:40px;

  border-radius:20px;

  box-shadow:
  0 10px 30px rgba(0,0,0,0.08);
}


/* DASHBOARD */

.dashboard-grid{

  width:70%;

  margin:auto;

  display:flex;

  flex-direction:column;

  gap:25px;
}

.dashboard-card{

  background:white;

  padding:40px;

  border-radius:18px;

  text-align:center;

  font-size:24px;

  font-weight:500;

  box-shadow:
  0 8px 25px rgba(0,0,0,0.08);

  transition:0.3s;

  cursor:pointer;
}

.dashboard-card:hover{

  transform:translateY(-5px);

  background:#2563eb;

  color:white;
}


/* NAVBAR */

nav{

  width:100%;

  background:white;

  padding:20px 50px;

  display:flex;

  justify-content:center;

  gap:40px;

  box-shadow:
  0 2px 10px rgba(0,0,0,0.05);

  margin-bottom:40px;
}

nav a{

  text-decoration:none;

  color:#1e293b;

  font-size:18px;

  font-weight:500;

  transition:0.3s;
}

nav a:hover{

  color:#2563eb;
}


/* MOBILE */

@media(max-width:768px){

  .card,
  .dashboard-grid,
  .analytics-box,
  .alert-container{

    width:95%;
  }

  h1{

    font-size:34px;
  }

}
/* ALERT PAGE */

.alerts-wrapper{

  width:70%;

  margin:auto;

  display:flex;

  flex-direction:column;

  gap:25px;
}


/* TITLE */

.alert-title{

  text-align:center;

  font-size:40px;

  margin-bottom:20px;

  color:#0f172a;
}


/* CARD */

.alert-card{

  display:flex;

  align-items:center;

  gap:20px;

  padding:25px;

  border-radius:18px;

  color:white;

  box-shadow:
  0 8px 25px rgba(0,0,0,0.12);

  transition:0.3s;
}

.alert-card:hover{

  transform:translateY(-5px);
}
.chart-card {

  width: 100%;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  background: white;

  padding: 40px;

  border-radius: 20px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.08);

  text-align: center;
}
.analytics-container {

  width: 100%;

  display: flex;

  justify-content: center;

  align-items: center;

  margin-top: 40px;
}

/* ICON */

.alert-icon{

  width:70px;

  height:70px;

  border-radius:50%;

  display:flex;

  justify-content:center;

  align-items:center;

  font-size:36px;

  background:
  rgba(255,255,255,0.2);
}


/* TEXT */

.alert-card h3{

  font-size:24px;

  margin-bottom:8px;
}

.alert-card p{

  font-size:17px;
}


/* EXPIRED */

.expired{

  background:
  linear-gradient(
    135deg,
    #7f1d1d,
    #450a0a
  );
}



/* CRITICAL */

.critical{

  background:
  linear-gradient(
    135deg,
    #dc2626,
    #991b1b
  );
}


/* WARNING */

.warning{

  background:
  linear-gradient(
    135deg,
    #f97316,
    #ea580c
  );
}


/* SAFE */

.safe{

  background:
  linear-gradient(
    135deg,
    #16a34a,
    #166534
  );
}


/* MOBILE */

@media(max-width:768px){

  .alerts-wrapper{

    width:95%;
  }

  .alert-card{

    flex-direction:column;

    text-align:center;
  }
}



.chart-card{

  background:white;
  justify-content:center;

  align-items:center;

  padding:40px;

  border-radius:20px;

  box-shadow:
  0 10px 30px rgba(0,0,0,0.08);

  text-align:center;
}


.chart-card h2{

  margin-bottom:20px;

  font-size:30px;

  color:#0f172a;
}
.back-btn {
  background-color: #2563eb;  
  color: white;
 width: 100px;
  border: none;
  padding: 6px 12px;
  font-size: 15px;
  border-radius: 0.2px;
  cursor: pointer;
  transition: 0.2s ease;
 

}

.summary-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  padding: 25px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.profit {
  background: linear-gradient(135deg, #16a34a, #22c55e);
}

.loss {
  background: linear-gradient(135deg, #dc2626, #ef4444);
}

.sales {
  background: linear-gradient(135deg, #2563eb, #3b82f6);
}

.top {
  background: linear-gradient(135deg, #9333ea, #a855f7);
}

.net {
  background: linear-gradient(135deg, #f97316, #fb923c);
}
